body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
   align-items: center;
}

header {
    width: 1200px;
}

.name {
    background-color: #99999970;
    padding: 20px;
    height: 235px;
}

.name h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.profession {
    background-color: #99999950;
    padding: 20px;
}

.name h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 40px;
}

.name_avatar_wrapper {
    display: flex;
    justify-content: center;
    width: 1200px;
}

.name_profession {
    width: 1200px;
}

.avatar {
    width: 300px;
}

.main {
    display: flex;
    width: 1200px;
    flex-direction: row;
}

.contact {
   padding: 45px;
   background-color: #99999950;
   color: black
}



